---
import Layout from "../layouts/Layout.astro";
import SubHeroSection from "../components/SubHeroSection.astro";

import { Image } from "astro:assets";

import ContactHero from "../assets/contact_header.jpg";
import ContactLogo from "../assets/contact_logo.jpg";
---

<Layout>
  <SubHeroSection imagePath={ContactHero} title="Contact" body="" />

  <!-- text start -->
  <section class="container py-2 px-4 px-md-0">
    <div class="py-3 w-100 image_medium">
      <Image src={ContactLogo} alt="Wedding Sevice" />
    </div>
  </section>

  <div class="get_in_touch lightgray-bg py-4 m-auto text-center px-4 px-md-0">
    <p>Get In Touch with Us Today and Let's Make Your Event Memorable!</p>
  </div>

  <!-- Info -->
  <section class="container py-2 px-4 px-md-0">
    <div class="text-center py-4">
      <h2 class="text-center supporting-text-bold">Saint Jude</h2>
      <p>15800 Pines Blvd #310, Pembroke Pines, FL 33027</p>

      <h2 class="text-center supporting-text-bold">Email</h2>
      <p>info@saintjudeministries.org</p>

      <h2 class="text-center supporting-text-bold">Phone/Fax</h2>
      <p class="phone"><strong>954-990-0918</strong></p>
    </div>

    <div class="py-4">
      <p>
        <u>
          When contacting us by email or leaving a voicemail message please
          include the following:
        </u>
      </p>
      <ol>
        <li>Type of service requested</li>
        <li>Date and time of the service</li>
        <li>Location or Venue, City and State</li>
        <li>Additional languages preferred</li>
        <li>Best contact number for you</li>
        <li>Email address (if different)</li>
      </ol>
    </div>

    <hr />

    <div class="text-center py-4">
      <h2 class="text-center supporting-text-bold">By appointment only:</h2>
      <p>Monday through Friday 9AM–6PM</p>
      <p>Saturday 9AM–1PM</p>
      <p class="m-0">Limited evening and weekend appointments available</p>
    </div>

    <hr />
  </section>
</Layout>

<style lang="scss">
  .get_in_touch {
    p {
      font-style: italic;
      color: #666666;
      font-size: 27px;
      font-family: "Gentium Basic", serif;
      margin-bottom: 0px;

      @media (max-width: 992px) {
        font-size: 20px;
      }
    }
  }

  .phone {
    font-style: italic;
    font-size: 27px;
    font-family: "Gentium Basic", serif;
  }
</style>
