<div class="py-4 book_next_event col-6 m-auto text-center">
    <p>Book Your Upcoming Wedding Event!</p>
    <a href="/contact"><button>Contact us today</button></a>
</div>

<style lang="scss">
    .book_next_event {
        p {
            font-style: italic;
            color: #666666;
            font-size: 21px;
            font-family: "Gentium Basic", serif;
        }

        button {
            border: none;
            text-transform: uppercase;
            background-color: #1e6c93;
            width: 100%;
            color: white;
            padding: 6px;
            border-radius: 5px;
            font-family: "Gentium Basic", serif;
        }
    }
</style>
