h1 {
  font-size: 68pt;
  font-family: Lora, serif;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 400;
  width: 100%;
}

h2 {
  font-size: 27pt;
  font-family: Lora, serif;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 400;
  width: 100%;
}

h3 {
  font-family: Lora, serif;
}

p {
  color: #666666;
  font-family: Lora, Arial;
  font-size: 14pt;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.77;
}

li {
  color: #666666;
  font-family: Lora, Arial;
  font-size: 14pt;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.77;
  margin-bottom: 15.0pt;
}

.stronger {
  color: #666666;
  font-family: Lora, Arial;
  font-size: 15pt;
  font-weight: bolder;
  vertical-align: baseline;
  line-height: 1.77;
  margin-bottom: 15.0pt;
}

em {
  color: #666666;
  font-family: Lora, Arial;
  font-size: 12pt;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.77;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-darker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.white-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.gallery {
  img {
    width: 100%;
    height: auto;
  }

  .gallery-headers {
    color: rgba(34, 110, 147, 1);
    font-size: 16pt;
    font-weight: bold;
  }
}

.title-text {
  color: rgba(34, 110, 147, 1);
  font-size: 34pt;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
}

.subtitle-text {
  color: rgba(34, 110, 147, 1);
  font-size: 26pt;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
}

.supporting-text {
  color: rgba(34, 110, 147, 1);
  font-size: 18pt;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
}

.lightgray-bg {
  background-color: rgba(242, 242, 242, 1);
  display: block;
}

.blue-bg {
  background-color: rgba(30, 108, 147, 1);
  display: block;
}

.col-3-5 {
  flex: 0 0 auto;
  width: 31%;
}

.image_large {
  img {
    width: 100%;
    object-fit: cover;
    height: 886px;
  }
}

.award_logos {
  img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
}

.document_links {
  subtitle-text a {
    font-size: 14pt;
    font-weight: bold;
  }
}

.about_images {
  img {
    width: 100%;
    height: auto;
  }
}

.about_text {
  p {
    // font-size: 12pt ;
  }
}

.footer_links {
  a {
    width: 52px;
    height: 52px;
    margin: 9px;
    background-color: rgb(95, 99, 104);
    background-image: linear-gradient(rgb(95, 99, 104), rgb(95, 99, 104));
    border-radius: 12.5%;
    box-sizing: content-box;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    font-size: 10pt;

    img {
      width: 48px;
      height: 48px;
          margin: 2px;
          box-sizing: content-box;
    }
  }
}